<div>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Marka Ara"
  />
</div>
<select class="form-select" multiple aria-label="multiple select example">
  <option selected>Filtrele(Marka)</option>
  <option
    (click)="setCurrentBrand(brand)"
    routerLink="/carDetails/brand/{{ brand.brandId }}"
    type="button"
    *ngFor="let brand of brands | brandPipe: filterText"
    [class]="getCurrentBrandClass(brand)"
  >
    {{ brand.brandName }}
  </option>
</select>
<br />
<br />
